* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

body, #file_selector_container * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#file_selector_container {
  background-color: #1D1E1A;
}

#file_selector {
  top: 40%;
  left: 20%;
  right: 20%;
  position: absolute;
}

#form_filename {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  padding: 0 10px;
  font-size: 20px;
  line-height: 2.5;
  width: 100%;
  border: none;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid #C2C2C2;
  transition: all 0.3s;
  padding-right: 80px;
}

#form_filename:focus {
  border-bottom-color: white;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  line-height: 2.5;
  padding: 0 15px;
}

#form_submit {
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  background-color: #197708;
}

#form_submit:hover {
  background-color: #268A0D;
}

#live_haskell {
  display: none;
}

.type_tooltip * {
  /* Needs overriding since qtip is inside .ace_scroller which doesn't allow selections. */
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#editor .type_tooltip {
  font: inherit;
  text-shadow: none;
}

.type_tooltip_ace.ace-monokai {
  background-color: inherit;
}

.type_tooltip_ace .ace_scrollbar-h {
  display: none;
}

.type_tooltip_ace .ace_text-layer {
  width: auto;
}

#live_haskell > div {
  width: 50%;
  position: absolute;
}

#live_haskell > div:not(.bottom) {
  top: 0;
}

.bottom {
  bottom: 0;
}

#editor {
  bottom: 19px;
}

#prompt_gt {
  float: left;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size:  14px;
}

#output, #output_overlay {
  left: 50%;
  bottom: 0;
}

#output_overlay {
  pointer-events: none;
  z-index: 9999999;
}

#output_overlay.refreshable {
  background-color: rgba(0, 0, 0, 0.2);
}

#refresh_icon {
  pointer-events: all;
  position: absolute;
  right: 12px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#output_overlay.refreshable #refresh_icon:not(.rotating) {
  fill: #467FFE;
  -webkit-filter: drop-shadow(0 1px 8px #467FFE);
  -moz-filter: drop-shadow(0 1px 8px #467FFE);
  filter: drop-shadow(0 1px 8px #467FFE);
}

#output_overlay.refreshable #refresh_icon.rotating, #output_overlay #refresh_icon {
  fill: #7B7B7B;
}

#command_container {
  border-right: 1px solid #272822;
}

#help {
  pointer-events: all;
  background-color: #467FFE;
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-style: 14px;
}

#help:hover {
  background-color: #37AAFF;
}

/* Allow clicking on helper layer to close it. */
.chardinjs-helper-layer {
  pointer-events: none;
}

body .chardinjs-tooltip {
  max-width: 240px;
}

body .chardinjs-tooltip.chardinjs-left {
  margin-left: -175px;
}

.chardinjs-tooltiptext {
  white-space: pre-wrap;
}
